<footer class="common-footer">
    {{ $languagesCount := $.Site.Home.AllTranslations }}
    {{ if gt $languagesCount 1 }}
        {{ partial "languageSelect.html" . }}
    {{ end }}

    <div class="common-footer-bottom">
        {{ if .Site.Menus.footer }}
            {{ $currentPage := . }}
            <ul class="footer-menu">
            {{ range .Site.Menus.footer }}
            <li><a class="{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a></li>
            {{ end }}
            </ul>
        {{ end }}
        <div class="copyright">
            <p>© {{end}}{{ now.Year }} - {{ if isset .Site.Params "author"}}{{ .Site.Params.author }} | Some rights reserved<br>
            {{ i18n "powered" | humanize }} This website is written from Berlin, Germany.<br>
            {{ partial "footer-extra.html" . }}
            </p>  
        </div> 

        {{ partial "themeSwitcher.html" . }}   
    </div>

    {{ partial "h-card.html" . }}
</footer>
